@import url(https://fonts.googleapis.com/css?family=Roboto:100);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

 *, *:before, *:after {
	 box-sizing: border-box;
}
body {
	color: black;
	background: rgb(245, 241, 241);
	font-family: 'Roboto', sans-serif;
}



/*CARTA PRINCIPAS PRODUCTO*/
 .card__img-holder--horizontal-left img, .card__img-holder img, .card__img-holder--horizontal-right img {
	 width: 100%;
	 height: 100%;
	 z-index: 1;
}
 .card__img-holder--horizontal-left, .card__img-holder--horizontal-right {
	 height: 242px;
	 width: 50%;
	 overflow: hidden;
}
 .card__img-holder--horizontal-left h2, .card__img-holder h2, .card__img-holder--horizontal-right h2 {
	 z-index: 4;
	 position: absolute;
	 top: -20px;
	 color: white;
	 padding: 10px;
	 background: rgba(255, 255, 255, .1);
	 width: 100%;
}

 .wrapper {
	 max-width: 400px;
	 display: inline-block;
	 margin: 0 auto;
	 margin-right: 50px;
}
 .wrapper--horizontal {
	 max-width: 800px;
	 display: inline-block;
	 margin: 0 auto;
}
 .card__container {
	 box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, .3);
	 flex: 1 1 200px;
	 height: auto;
	 border: 1px solid #ccc;
	 border-radius: 5px;
	 background: #fff;
	 position: relative;
}
 .card__img-holder {
	 height: 240px;
	 width: 100%;
	 overflow: hidden;
	 border-radius: 5px 5px 0 0;
}
 .card__img-holder--horizontal-left {
	 border-radius: 5px 0 5px 0px;
	 float: left;
	 margin: 0 15px 5px 0;
}
 .card__img-holder--horizontal-right {
	 border-radius: 0 5px 0 5px;
	 float: right;
	 margin: 0 0 5px 15px;
}
 .card__headline {
	 padding: 0 15px 0 15px;
}
 .card__subheadline p {
	 color: #000;
	 font-weight: 100;
	 padding: 0 15px 13px 15px;
}
 .card__footer-links {
	 display: flex;
	 align-content: center;
	 border-top: 1px solid #b6b6b6;
	 clear: both;
}
 .card__footer-links a:first-child {
	 border-bottom-left-radius: 6px;
}
 .card__footer-links a:last-child {
	 border-right: 0;
	 border-bottom-right-radius: 6px;
}
 .card__footer-links a {
	 flex: 1 1;
	 text-align: center;
	 line-height: 40px;
	 text-decoration: none;
	 color: #212121;
	 padding: 15px 0;
	 border-right: 1px solid #b6b6b6;
	 transition: all 0.3s ease;
}
 .card__footer-links a:hover {
	 background: #bf4141;
	 color: white;
	 transition: all 0.3s ease;
}


/*iCONS NAVBAR*/
@media (min-width: 992px){
  .navbar svg {
      margin-left : 1em;
  }
}



/*COMENTARIOS*/
.card {
    width: 400px;
    border: none;
    border-radius: 8px
}

.height-100 {
    height: 100vh
}

.form-control {
    resize: none;
    height: 130px;
    border: 2px solid #eee
}

.form-control:focus {
    box-shadow: none;
    border: 2px solid red
}



/*ESTRELLAS*/
.rating {
    display: flex;
    flex-direction: row-reverse;
    float: left
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 15px;
    font-size: 19px;
    color: #ff0000;
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}

.link-muted { color: #aaa; } .link-muted:hover { color: #1266f1; }